@using bank.reports.charts
@model ChartItemViewModel

@if (Model.ShowTitle && !string.IsNullOrWhiteSpace(Model.ChartConfig.Title))
{
    <h5>@Model.ChartConfig.Resolve(Model.ChartConfig.Title)</h5>
}

<div id="@Model.ChartConfig.ChartId" 
     class="reveal-slow chart-responsive @Model.ChartConfig.CssClasses" 
     data-chart-type="@Model.ChartDataType" 
     data-series="@Model.ChartConfig.GetSeriesData(Model.Report.Columns).ToJson()"></div>

