@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@RenderSection("Header", required: false)

<div class="container-fluid single">
    @RenderBody()
</div>

@section Meta {
    @RenderSection("MetaProxy", required: false)
}

@section Stylesheets {
    @RenderSection("StylesheetsProxy", required: false)
}

@section Scripts {
    @RenderSection("ScriptsProxy", required: false)
}