@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@RenderSection("Header", required: false)

<div class="container-fluid">
    <div id="main-wrapper">
        @RenderBody()
    </div>
</div>

@section Meta {
    @RenderSection("MetaProxy", required: false)
}

@section Stylesheets {
    @RenderSection("StylesheetsProxy", required: false)
}

@section Scripts {
    @RenderSection("ScriptsProxy", required: false)
    @*  *@}