@{
//var canonical = bank.Settings.WebBaseUrl + Request.Url.PathAndQuery;

//if (ViewBag.Canonical == null)
//{
//    ViewBag.Canonical = canonical;
//}
//else
//{
//    ViewBag.Canonical = bank.Settings.WebBaseUrl + ViewBag.Canonical;
//}

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title</title>
    }
    <meta name="description" content="@ViewBag.MetaDescription" />

    <!-- stylesheets -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">*@
    <link rel="stylesheet" href="~/assets/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/assets/css/site/styles.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/jquery.typeahead.min.css" />
    <script src="https://use.fontawesome.com/40ec8562ca.js"></script>
    <!-- /stylesheets -->

    @RenderSection("Stylesheets", required: false)
    @RenderSection("Meta", required: false)

    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical" />
    }

    <link rel="icon" type="image/x-icon" href="~/assets/images/favicons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="~/assets/images/favicons/yin-yang-152-1271.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="~/assets/images/favicons/yin-yang-144-1271.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/assets/images/favicons/yin-yang-152-1271.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/images/favicons/yin-yang-144-1271.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/assets/images/favicons/yin-yang-120-1271.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/images/favicons/yin-yang-114-1271.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/images/favicons/yin-yang-72-1271.png" />
    <link rel="apple-touch-icon-precomposed" href="~/assets/images/favicons/yin-yang-57-1271.png" />
    <link rel="icon" href="~/assets/images/favicons/yin-yang-32-1271.png" sizes="32x32" />

    @*<!-- icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <!-- /icons-->*@

    @if (ViewBag.NoIndex != null && ViewBag.NoIndex)
    {
        <meta name="robots" content="noindex">
    }

</head>
<body>


    @if (ViewBag.NoNav == null)
    {
        <div class="top-nav fixed-top" id="global-nav">

            <div class="container-fluid">

                <div class="logo">
                    <span class="company"><a href="/">Bankjitsu</a></span>

                    <div class="search-group typeahead__container">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input id="search-box" type="text" class="form-control js-typeahead-name" />
                    </div>

                    <div class="close-modal nav-link">
                        <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
                        Return to previous report
                    </div>

                    <button id="sidenav-toggler" class="navbar-toggler event " type="button" data-cat="Navigation" data-action="click" data-label="Main Menu">
                        ☰
                    </button>

                    @*<div class="top">
                            <img class="mr-3" src="~/assets/images/favicons/yin-yang-48-1271.png" />
                        </div>*@
                    @*<div class="top">

                            <span class="company"><a href="/">Bankjitsu</a></span>
                        </div>
                        <div class="top">

                            <div class="close-modal nav-link">
                                <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
                                Return to previous report
                            </div>
                        </div>
                        <div class="top w-100">
                            <input id="search-box" type="text" class="" />
                        </div>
                        <div class="top">
                            <button id="sidenav-toggler" class="navbar-toggler event float-right hidden-xl-up" type="button" data-cat="Navigation" data-action="click" data-label="Main Menu">
                                ☰
                            </button>
                        </div>*@
                </div>

            </div>
        </div>
    }

    @Html.Partial("_Sidenav")

    <div id="main-body">
        <div id="flash">
            <div class="close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="message"></div>
        </div>

        @RenderBody()
    </div>

    @if (ViewBag.NoNav == null && ViewBag.NoFooter == null)
    {
        <footer>
            <div class="container-fluid">
                @Html.Partial("_GlobalNav")
            </div>
        </footer>

        <div class="sub-footer text-xs-center p-1">

        </div>

        <div class="darken hidden-xl-up"></div>
        <div class="test hidden-lg-down"></div>
    }


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>*@


    @*<script src="~/assets/dist/js/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @*<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>*@
    @*<script src="~/assets/scripts/jquery.stickytableheaders.js"></script>*@
    <script src="~/assets/scripts/bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
    @Html.Partial("_GoogleAnalytics")


</body>
</html>
