@{
    var controller = ViewContext.Controller as bank.web.Controllers.ApplicationController;
    var profile = controller.CurrentProfile;
}

<div id="global-sidenav" class="sidenav" data-state="none">


    @if (Request.IsAuthenticated)
    {
        <ul class="nav account-options">
            <li class="nav-item">
                <div class="nav-link">
                    <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                    <a href="@Url.DefaultUrl("dashboard")">
                        Hello @profile.FirstName
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.DefaultUrl("account", "settings")" title="Settings">
                    <i class="fa fa-fw fa-cog other-icon" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.DefaultUrl("account", "signout")" title="Sign out"><i class="fa fa-fw fa-sign-out other-icon" aria-hidden="true"></i></a>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav nav-justified anon-options">
            <li class="nav-item">
                <a class="nav-link sign-in toggle" data-group="account" href="#sidenav-signin">
                    <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                    <span class="ml-3">
                        Sign-in
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link register toggle" data-group="account" href="#sidenav-register">
                    <i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>
                    <span class="ml-3">
                        Register
                    </span>
                </a>
            </li>
        </ul>
        <div class="collapse account" id="sidenav-signin">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <div class="nav-link nav-settings">
                        @Html.Partial("_SignIn")
                    </div>

                </li>
            </ul>
        </div>
        <div class="collapse account" id="sidenav-register">
            <ul class="nav flex-column">
                <li class="nav-item">

                    <div class="nav-link nav-settings">
                        @Html.Partial("_Register")
                    </div>


                </li>
            </ul>
        </div>
    }
    <ul class="nav flex-column">


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" onclick="return false;" data-toggle="dropdown">
                <i class="fa fa-fw fa-line-chart" aria-hidden="true"></i>
                Rankings
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="@Url.ReportUrl("rankings/assets")">
                    <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>
                    By Total Assets
                </a>
                <a class="dropdown-item" href="@Url.ReportUrl("rankings/deposits")">
                    <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>
                    By Total Deposits
                </a>
                <a class="dropdown-item" href="@Url.ReportUrl("rankings/loans")">
                    <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>
                    By Total Loans
                </a>
                <a class="dropdown-item" href="@Url.ReportUrl("rankings/capital")">
                    <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>
                    By Total Capital
                </a>
                <a class="dropdown-item" href="@Url.ReportUrl("rankings/net-interest-margin")">
                    <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>
                    By Net Interest Margin
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.ReportUrl("org")">
                <i class="fa fa-fw fa-building-o" aria-hidden="true"></i>
                Bank Directory
            </a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i>
                    News
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-snowflake-o" aria-hidden="true"></i>
                    Community
                </a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>
                Contact
            </a>
        </li>
    </ul>

</div>
