@model EntityViewModel

@{
    Layout = null;
    var header = "Reviews";

    if (Model.RatingFilter.HasValue && Model.RatingFilter.Value > 0)
    {
        header = Model.RatingFilter + " Star Reviews";
    }
}

<div id="reviews-filtered">
    
    @if (Model.Reviews.Any() || Model.ReviewsOnly)
    {
    <div class="card">
        <div class="text-xs-center review-header">
            <h3>@header <span class="muted">for @Model.Entity.Name</span></h3>

            @if (Model.ProfessionalReviewFilter.HasValue && Model.ProfessionalReviewFilter.Value)
            {
                <div><strong>Real Estate Professional Reviews Only</strong></div>
            }

            @if (Model.BranchFilter.HasValue && !string.IsNullOrWhiteSpace(Model.BranchFilterName))
            {
                <h6>Branch: @Model.BranchFilterName </h6>
            }
            <div>
                @Html.Partial("_Pager", Model.Pager)
            </div>
        </div>
    </div>
    }

    <div id="reviews">

        @foreach (var review in Model.Reviews)
        {
            <a id="@review.ReviewId"></a>
            @Html.Partial("_Review", new ReviewViewModel { Review = review, Entity = Model.Entity })
        }

        @if (!Model.Reviews.Any())
        {
            <div class="card">
                <div class="card-block text-xs-center">
                    <h3 id="no-reviews-found">No Reviews Found</h3>
                </div>
            </div>
        }

        <div class="text-xs-center">
            @Html.Partial("_Pager", Model.Pager)
        </div>
    </div>

</div>