@model DashboardViewModel
@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}
@{
    var controller = ViewContext.Controller as bank.web.Controllers.ApplicationController;
    var profile = controller.CurrentProfile;
}

<div class="card">
    <div class="card-header">@profile.FirstName's Dashboard</div>
    <div class="card-block">
        <h4>Favorites</h4>
        <ul class="list-group">
            @foreach (var fav in Model.Profile.Favorites)
            {
                <li class="list-group-item">
                    <a href="@Url.Url(fav)">
                        @fav.Name
                    </a>
                </li>
            }
        </ul>

    </div>

    <div class="card-block">
        <h4>Recently Visited</h4>
        <ul class="list-group">
            @foreach (var fav in Model.Profile.RecentVisits)
            {
                <li class="list-group-item">
                    <a href="@Url.Url(fav)">
                        @fav.Name
                    </a>
                </li>
            }
        </ul>

    </div>
</div>

