@model DashboardViewModel
@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}
@{
    var controller = ViewContext.Controller as bank.web.Controllers.ApplicationController;
    var profile = controller.CurrentProfile;
}




@if (Model.IsNewDashboard)
{
    <div class="card">
        <div class="card-block">
            <div style="padding-top:15vh;padding-bottom: 50vh;">
                <h1 class="text-center">
                    Your dashboard isn't ready yet.
                </h1>
                <h4 class="text-center">
                    Start searching for some banks and we'll create one for you. Check back soon.
                </h4>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("template/_Rows", new RowsViewModel { Rows = Model.Layout.Rows })

    <div class="card">
        <div class="card-block">
            <h4>Favorites</h4>
            <ul class="list-group">
                @foreach (var fav in Model.Profile.Favorites)
                {
                    <li class="list-group-item">

                        <a href="@Url.Url(fav)">
                            @fav.Name
                        </a>

                    </li>
                }
            </ul>

        </div>

        <div class="card-block">
            <h4>Recently Visited</h4>
            <ul class="list-group">
                @foreach (var fav in Model.Profile.RecentVisits)
                {
                    <li class="list-group-item">
                        <a href="@Url.Url(fav)">
                            @fav.Name
                        </a>
                    </li>
                }
            </ul>

        </div>
    </div>

}