@using bank.enums
@model OrganizationProfileViewModel

<div class="row p-0 m-0">
    <div class="col-lg-6 p-0 m-0">
        <div class="summary-item left social-item">
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Twitter))
            {
                <a href="https://twitter.com/@Model.Organization.Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span class="tag tag-pill tag-primary">24</span>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-6 p-0 m-0">

        <div class="summary-item right social-item">
            @if (!string.IsNullOrWhiteSpace(Model.Organization.Facebook))
            {
                <a href="https://www.facebook.com/@Model.Organization.Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span class="tag tag-pill tag-primary">8</span>
                </a>
            }
        </div>
    </div>
</div>
@*<div class="row p-0 m-0">
        <div class="col-xs-12">
            <span class="tag tag-pill tag-primary">231 Branches</span>

            @Html.Partial("_States")

        </div>
    </div>*@

<div class="reports list-group text-xs-left">
    <span class="list-group-item disabled">
        Reports
    </span>
    <a href="@Request.Url.ToString()/report/call/pres-rc" class="list-group-item">
        Balance Sheet
    </a>
    <a href="@Request.Url.ToString()/report/call/pres-ri" class="list-group-item">
        Income Statement
    </a>
    @*<a href="#" class="list-group-item">
            Profitability
        </a>*@
    <a href="@Request.Url.ToString()/report/loan-composition" class="list-group-item">
        Loan Composition
    </a>
    <a href="@Request.Url.ToString()/report/deposit-composition" class="list-group-item">
        Deposit Composition
    </a>
    <div class="dropdown list-group-item">
        <a href="#" onclick="return false;" class="dropdown-toggle" id="raw-reports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Call &amp; UBPR Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="raw-reports">
            @*@{
                    var isCurrentPeriod = true;
                }
                @foreach (var report in Model.ReportsAvailable)
                {
                    <div class="dropdown-item">
                        <div class="row">
                            <div class="col-xs-4">
                                @report.Period.Value.ToString("yyyy")
                                @string.Format("Q{0}", report.Period.Value.Quarter())
                            </div>
                            <div class="col-xs-4 px-2 text-xs-center">
                                @if (report.ReportsAvailable.Contains(ReportTypes.Call))
                                {
                                    <a href="@Url.Url(Model.Organization, report.Period, @ReportTypes.Call.ToString(), "pres-rc", isCurrentPeriod)">
                                        @ReportTypes.Call
                                    </a>
                                }
                                else
                                {
                                    <span>&nbsp;</span>
                                }
                            </div>
                            <div class="col-xs-4 px-2 text-xs-center">
                                @if (report.ReportsAvailable.Contains(ReportTypes.UBPR))
                                {
                                    <a href="@Url.Url(Model.Organization, report.Period, @ReportTypes.UBPR.ToString(), "balance-sheet", isCurrentPeriod)">
                                        @ReportTypes.UBPR
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    isCurrentPeriod = false;

                }*@
        </div>
    </div>
</div>

<div class="alerts list-group text-xs-left">
    <a href="#" class="list-group-item disabled">
        Highlights 2016 Q3
    </a>
    <a href="#" class="list-group-item">
        <i class="fa fa-arrow-up float-xs-right" aria-hidden="true"></i>
        Total Assets are up 18%
    </a>
    <a href="#" class="list-group-item">
        <i class="fa fa-arrow-up float-xs-right" aria-hidden="true"></i>
        3 new branches since last quarter
    </a>
    <a href="#" class="list-group-item">
        <i class="fa fa-arrow-down float-xs-right" aria-hidden="true"></i>
        Peers outpacing growth by 8%
    </a>
</div>

