@using bank.reports
@using bank.enums
@model ProfileHeaderViewModel

<div id="header" class="header-wrap">
    <div class="container-fluid">
        <div class="pt-3">
            @*@if (Model.Organization.Successor != null)
                {
                    <div class="alert alert-success align-middle">
                        <i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i>
                        Acquired by <a href="@Url.Url(Model.Organization.Successor.SuccessorOrganization)">@Model.Organization.Successor.SuccessorOrganization.Name</a> on @Model.Organization.Successor.D_DT_TRANS.Value.ToShortDateString()

                    </div>
                }*@


            <h1>
                @Model.Organization.Name


                @if (Request.IsAuthenticated)
                {
                    <small class="ml-3">
                        @if (Model.IsFavorite)
                        {
                            <i title="Remove from favorites"
                               data-send="json"
                               data-name="favorites"
                               data-value="@Model.Organization.OrganizationId"
                               class="favorite fa fa-star gold" aria-hidden="true"></i>
                        }
                        else
                        {
                            <i title="Add to favorites"
                               data-send="json"
                               data-name="favorites"
                               data-value="@Model.Organization.OrganizationId"
                               class="not-favorite fa fa-star-o gold" aria-hidden="true"></i>
                        }
                    </small>
                }
            </h1>

            <h4>
                @Model.Organization.City, @Model.Organization.State
                &mdash;
                @bank.poco.Global.EntityTypes[Model.Organization.EntityType]
            </h4>


        </div>
    </div>
</div>
