@using bank.reports
@model ReportViewModel
@{
    var charts = (Charts)Model.Report.CurrentSection.LineItems.First();
}
<div class="row">
    @foreach (ChartItem chart in charts.LineItems)
    {
        var fact = Report.GetCell(chart, Model.Report.Columns.First());
        
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    @chart.ChartConfig.Concepts.First().ShortLabel
                    @Html.Partial("_CardMenu")
                </div>
                
                <div class="card-block">
                    <h2 class="text-left">
                        @fact.ValueFormatted
                        <small>
                            @Html.Partial("_FactTrendArrow", fact)
                        </small>
                    </h2>
                    @Html.Partial("_Chart", new ChartItemViewModel { Report = Model.Report, ChartConfig = chart.ChartConfig })
                </div>
            </div>
        </div>

    }

</div>

