@using bank.reports
@using bank.enums
@model OrganizationProfileViewModel

@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}

@section Header {
    @Html.Partial("_Header", new ProfileHeaderViewModel { Organization = Model.Organization, RawReports = Model.RawReports })

}

<div class="first">
    @Html.Partial("_SecondaryReport", new ReportViewModel { Report = Model.SecondaryCharts })

</div>

<div class="card">
    <div class="card-header">
        Balance Sheet Highlights
        @Html.Partial("_CardMenu")
    </div>

    <div class="card-block">
        @Html.Partial("_Report", new ReportViewModel { Report = Model.PrimaryChart })
    </div>
</div>

<div class="row" data-spy="scroll">
    <div class="col-lg-8 col-xs-12">
        <div class="card">
            @Html.Partial("_Report", new ReportViewModel { Report = Model.HighlightTable, ShowTitle = true })

        </div>
    </div>
    <div class="col-lg-4">
        @foreach (var pie in Model.PieCharts.Charts)
        {
            <div class="card">
                <div class="card-header">
                    @pie.Title
                    @Html.Partial("_CardMenu")
                </div>
                <div class="card-block">
                    @Html.Partial("_Chart", new ChartItemViewModel { Report = Model.PieCharts, ChartConfig = pie })
                </div>
            </div>
        }
    </div>
</div>

