@model MdrmDefinitionViewModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-block">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <b>
            @Model.Definition.Description
        </b>

        <p>
            @Model.Definition.Narrative
        </p>

        <div id="@Model.Mdrm" data-series="@Model.Chart.Series.ToJson()" class="main-chart"></div>

        @*<b>Formula</b>
        <p>
            @Model.Definition.Formula
        </p>*@

    </div>
</div>



<script>
        $(function () {

            $('#@Model.Mdrm').highcharts('LineChart', {
                plotOptions: {
                    areaspline: {
                        lineWidth: 0,
                        fillColor: {
                            linearGradient: { x1: .2, x2: 0, y1: 0, y2: .75 },

                            stops: [
                                [0, '#2E96EA'],
                                [1, '#30C8CA']
                            ]
                        }
                    }
                }
            });

        });
</script>