@using bank.reports
@using bank.reports.charts
@model TableRowViewModel
@{
    var counter = 0;
}

<tr class="group-row">
    <td class="@Model.Level" colspan="@(Model.Columns.Count + 1)">
        @Model.Row.Label
    </td>

    @*@foreach (var column in Model.Columns)
    {
        <td class="@(counter++ == 0 ? "reveal" : "")">
            @column.HeaderText
        </td>
    }*@

</tr>