@using bank.reports
@using bank.reports.charts
@model TableRowViewModel

<tr class="data-row @(Model.Row.Link ? "concept" : "")" data-concept="@(Model.Row.Link ? Model.Row.Concept?.Name : "")">

    <td class="@Model.Level">
        <a title="@Model.Row.Link ? Model.Row.Concept?.Name : "")">@Model.Row.Label</a>
    </td>


    @if (Model.Row.Concept != null)
    {

        foreach (var column in Model.Columns)
        {
            var fact = column.GetCell(Model.Row.Concept, column);
            var seriesJson = "";

            if (fact != null)
            {
                seriesJson = ComboChartConfig.GetSparklineData(fact, Model.Row.Concept, column).ToJson();
            }
            <td @*data-chart-type="sparkline"*@
                @*data-series="@seriesJson"*@
                style="@General.TrendingColor(fact)"
                class="@Model.Level @General.TrendingClass(fact)">


                @{
                    var value = Model.Row.Concept.ValueFormatted(fact);//?.ValueFormatted(Model.Row.Concept);

                    if (value == null)
                    {
                        <span>&mdash;</span>
                    }
                    else
                    {
                        @value
                    }
                }


            </td>

                        }
                    }
