@using bank.reports
@model TemplateColumnViewModel

<div class="@Model.ColumnGrid @Model.Col.CssClasses">

    @Html.Raw(Model.ShowCard(true))


    @foreach (TemplateElement element in Model.Elements)
    {
        if (element as TableElement == null)
        {
            if (!string.IsNullOrWhiteSpace(element.Title))
            {

                if (Model.IsInCard)
                {
                    <div class="card-header">
                        <div class="card-header-text">
                            @element.Title
                            @if (!string.IsNullOrWhiteSpace(element.SubText))
                            {
                                <small class="pl-3 text-muted">@element.SubText</small>
                            }
                        </div>
                        @Html.Partial("_CardMenu")
                    </div>
                }
                else
                {
                    <div class="child-title">
                        @element.Title
                    </div>
                }
            }
        }
        
        @Html.Raw(Model.CardBlock(element, true))


        if (element as EmptyElement == null)
        {
            @Html.Partial(Model.Partial(element), element)
        }

        @Html.Partial("template/_Rows", new RowsViewModel { Rows = Model.Col.Rows, Parent = Model })
        @Html.Raw(Model.CardBlock(element, false))

    }

    @Html.Raw(Model.ShowCard(false))

</div>