@using bank.reports
@using bank.reports.charts
@model TableRowViewModel



@if (Model.RowGroup.Sum)
{
    <tr class="group-row-total">
        <td class="@Model.Level">
            @Model.RowGroup.Label
        </td>
        @foreach (var column in Model.RowGroup.Table.Sum())
        {
            <td class="@Model.Level">@column.ToString(Model.RowGroup.Format)</td>
        }
    </tr>
}

@Html.Partial("template/_TableRows", Model.RowGroup.Table)
