@using bank.reports
@using bank.poco;

@model TemplateElement

@{
    var org = (Organization)Model.Data;
}

@if (!org.SucessorTransformations.Any() && !org.PredecessorTransformations.Any()) { return; }

<table class="table table-sm table-responsive table-horizontal table-base">

    <thead>
        <tr class="header-row">
            <td>
                Acquisitions &amp; Mergers
                @Html.Partial("_CardMenu")
            </td>
            <td>Role</td>
            <td>Assets</td>
            <td>Acct Method</td>
            <td>Type</td>
            <td>
                Transaction Date
            </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var transformation in org.Transformations.OrderByDescending(x => x.D_DT_TRANS.Value))
        {
            var target = transformation.PredecessorOrganization ?? transformation.SuccessorOrganization;
            if (target == null) { continue; }

            <tr class="data-row">
                <td>
                    <a href="@Url.Url(target)">
                        @target.Name
                    </a>
                </td>
                <td class="text-center">
                    @if (transformation.SuccessorOrganization == null)
                    {
                        <span>Seller</span>
                    }
                    else
                    {
                        <span>Buyer</span>
                    }
                </td>
                <td>
                    @if (target.TotalAssets.HasValue)
                    {
                    @(target.TotalAssets.Value.ToString("N0"))
                    }
                </td>
                <td class="text-center">
                    @switch (transformation.ACCT_METHOD)
                    {
                        case 1:
                            <span>Pooling of Interests</span>
                            break;
                        case 2:
                            <span>Acquisition</span>
                            break;
                    }
                </td>

                <td class="text-center">
                    @switch (transformation.TRNSFM_CD)
                    {
                        case 1:
                            <span>Discontinued</span>
                            break;
                        case 5:
                            <span>Split</span>
                            break;
                        case 7:
                            <span>Sale of Assets</span>
                            break;
                        case 9:
                            <span>Charter Retained</span>
                            break;
                        case 50:
                            <span>Failure</span>
                            break;
                    }

                </td>
                <td class="text-center">@transformation.D_DT_TRANS.Value.ToShortDateString()</td>
            </tr>
        }

    </tbody>
</table>